ul {
  display: flex;
  justify-content: space-between;
  margin-left: 40%;
  margin-right: 40%;
  align-items: center;
  font-size: 15px;
  padding: 0;
}

li {
  text-decoration: none;
  list-style-type: none;
  font-family: "Work Sans", sans-serif;
}

a:link {
  text-decoration: none;
  color: gray;
}

a:visited {
  color: gray;
}

.gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 5px;
  margin-left: 15%;
}

.gallery__item--1 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 3;
}

.gallery__item--2 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 3;
}

.gallery__item--3 {
  grid-column-start: 5;
  grid-column-end: 6;
  grid-row-start: 1;
  grid-row-end: 3;
}

.gallery__item--4 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 4;
  grid-row-end: 7;
}

.gallery__item--5 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 4;
  grid-row-end: 7;
}

.gallery__item--6 {
  grid-column-start: 5;
  grid-column-end: 6;
  grid-row-start: 4;
  grid-row-end: 7;
}

img {
  width: 100%;
  height: auto;
}

h1 {
  font-family: "Allan", cursive;
  font-size: 4vw;
  margin-bottom: 5%;
  margin-top: 5%;
  text-align: center;
}

h2 {
  font-family: "Work Sans", sans-serif;
  text-align: center;
  margin-top: 10%;
  margin-bottom: 5%;
}

h3 {
  font-family: "Work Sans", sans-serif;
  text-align: center;
  font-size: 1vw;
  color: gray;
  margin-bottom: 5%;
}
