ul {
  display: flex;
  justify-content: space-between;
  margin-left: 40%;
  margin-right: 40%;
  align-items: center;
  font-size: 15px;
  padding: 0;
}

li {
  text-decoration: none;
  list-style-type: none;
  font-family: "Work Sans", sans-serif;
}

a:link {
  text-decoration: none;
  color: gray;
}

a:visited {
  color: gray;
}

h1 {
  font-family: "Allan", cursive;
  font-size: 4vw;
  margin-bottom: 5%;
  margin-top: 5%;
  text-align: center;
}

h3 {
  font-family: "Work Sans", sans-serif;
}

h4 {
  font-family: "Work Sans", sans-serif;
}

h5 {
  font-family: "Work Sans", sans-serif;
}

h6 {
  font-family: "Work Sans", sans-serif;
}

main {
  margin-top: 10%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}

#info {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 3;
}

.gallery__item gallery__item--1 {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 4;
}

img {
  width: 100%;
  height: auto;
  margin-left: 250%;
}
